html.light,
html[data-theme="light"] {
  color-scheme: light;

  --background-primary: #ffffff;
  --background-secondary: #fdfdfd;
  --surface: #fafafa;
  --card: #ffffff;
  --muted: #f5f5f5;
  /* متن‌ها */
  --foreground: #1a1f26;
  --foreground-secondary: #6c7280;

  /* رنگ‌های اکشن */
  --primary: #eb5c6f;
  --primary-hover: #d65768;
  --accent: #f9d95e;
  --accent-hover: #e4c658;
  --success: #52c7a4;
  --success-hover: #45b090;

  /* حاشیه */
  --border: #e0e0e0;

  /* بکگراند ایکون ها*/
  --brain: #fdeff1;
  --code: #fbf6e9;
  --users: #eff9f6;
}
