@import "tailwindcss";
@import "./base//palette.dark.css";
@import "./base//palette.light.css";



@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-surface: var(--surface);
  --color-card: var(--card);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-success: var(--success);

  --color-border: var(--border);

  --color-code: var(--code);
  --color-brain:var(--brain);
  --color-users: var(--users)
  
}

@layer base {
  body {
    background-color: var(--color-background-primary);
    color: var(--color-foreground);
    overflow-x: hidden;
  }
}
